.header {
  width: 100vw;
  height: var(--header-height);

  border-bottom: 1px solid var(--tertiary-color);

  position: fixed;
  top: 0;

  padding: 0rem 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  width: 100%;
}
