.header {
  width: 100vw;
  height: var(--header-height);

  position: fixed;
  top: 0;

  padding: 0rem 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-color);

  z-index: 100;

  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.header.hidden {
  transform: translateY(-100%);
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.navbar ul {
  width: 100%;
}
