.wrapper {
  width: 100%;
  height: 240px;
  margin: 10px 0px;
  padding: 10px 5px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  transition: height 0.1s ease;
}

.wrapper.expanded {
  height: 330px;
  margin-bottom: 60px;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid var(--background-30);

  resize: none;
  outline: none;

  background-color: var(--input-background-color);

  color: var(--text-color-10);
  font-size: var(--font-size-s);

  box-shadow: var(--box-shadow);

  transition: height 0.1s ease;
}

.textarea:focus {
  border: 1px solid var(--highlight-color);
}

.textarea.expanded {
  height: 200px;
}

.hidden-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  height: 0px;

  transition: height 0.1s ease;
}

.hidden-form.expanded {
  height: 80px;
  padding: 10px 0px;
}

.input-wrapper {
  border: 1px solid var(--background-30);
  border-radius: 5px;

  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--input-background-color);

  box-shadow: var(--box-shadow);
}

.input-wrapper:focus-within {
  outline: none;
  border: 1px solid var(--highlight-color);
}

.input {
  width: 100%;
  padding: 0 10px;
  border: 0;

  flex: 3;

  background-color: var(--input-background-color);
  color: var(--text-color-10);
  font-size: var(--font-size-s);

  outline: none;
}

.input-label {
  padding: 5px 0px 0px 5px;
  flex: 1;

  color: var(--background-30-r);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
}

.button {
  width: 200px;
}

.notice-string {
  padding-right: 3px;

  align-self: flex-end;

  color: var(--text-color-20);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
}

.image-selector-input-wrapper {
  padding: 10px;

  border: 1px solid var(--background-30);
  border-radius: 5px;
  align-items: center;

  display: flex;
  gap: 10px;

  box-shadow: var(--box-shadow);

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.image-selector-input-wrapper:hover {
  background-color: var(--color-orange);
}
