.wrapper {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.title {
  padding: 1rem;

  font-size: var(--font-l);
  font-weight: var(--font-w-l);
}

.button-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
}
