@import "styles/typography.scss";

.wrapper {
  display: flex;
  flex: 1;

  display: flex;
  flex-direction: column;
  padding: var(--wrapper-padding);

  @media (max-width: $tablet-breakpoint) {
    padding: 2rem;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 2rem 0rem;
  }
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include title-xl-regular;
}

.content-wrapper {
  width: 100%;
  height: 100%;

  margin: var(--block-margin) 0;
}
