.wrapper {
  padding-top: 20px;
  border-radius: 5px;

  width: 100%;

  display: flex;
  flex-direction: column;

  align-self: flex-end;
}

.recomment-header {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}

.taki-profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-30-r);
  color: var(--background-30);
  font-size: var(--font-ml);
  font-weight: var(--font-w-l);
}

.recomment-header-profile-wrapper {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.author {
  font-size: var(--font-s);
  font-weight: var(--font-w-l);
}

.date {
  font-size: var(--font-xs);
  color: var(--text-color-20);
  font-weight: var(--font-w-s);
}

.recomment-string-wrapper {
  margin: 10px 20px;

  align-self: flex-end;

  max-width: 100%;

  padding: 20px;
  border-radius: 10px;

  background-color: var(--background-30);

  font-weight: var(--font-w-s);
  line-height: 1.3;

  white-space: pre-wrap;
}
