.wrapper {
  width: 100%;

  display: flex;

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
  }
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-m);
}
