.wrapper {
  width: 100%;
  height: 130px;

  padding: 2rem;
  border-radius: 0.8rem;

  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  color: var(--font-color);

  box-shadow: var(--box-shadow);
}

.wrapper:hover {
  background-color: var(--tertiary-color);
}

.label {
  padding-bottom: 0.4rem;
}

.postTitle {
  font-size: var(--font-m);
}
