.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.4s ease;

  :last-child {
    margin-top: 0.5rem;
  }
}

.wrapper.visible {
  transform: translateY(0);
  opacity: 1;
}

.header-img-wrapper {
  position: relative;

  width: 300px;
  height: 300px;

  padding-bottom: 1rem;
  border-radius: 50%;

  overflow: hidden;

  align-self: center;

  & img {
    position: absolute;
    left: -5px;
    top: -8px;
  }
}

.title {
  font-size: 48px;
  font-weight: var(--font-w-l);
}

.sub-title {
  font-size: var(--font-l);
  font-weight: var(--font-w-m);
}

.semi-introduce {
  font-size: var(--font-m);
  font-weight: var(--font-w-xs);
  text-align: center;
  line-height: 1.4;
}
