.wrapper {
  width: 60%;
  height: 100%;

  padding: 4rem 0rem 8rem 0rem;

  display: flex;
  flex-direction: column;

  font-size: var(--font-m);
}

.title {
  padding: 1rem 0rem;

  font-size: var(--font-xl);
  font-weight: var(--font-w-l);
}

.subtitle {
  padding: 1rem 0rem;

  font-size: var(--font-l);
  font-weight: var(--font-w-l);
}

.list {
  padding: 5px 0px 5px 5px;
  display: flex;
  align-items: center;

  font-weight: var(--font-w-l);
}

.text-wrapper {
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 1.4;
  color: var(--tertiary-color-r);
}

.badge {
  padding: 0px 4px;
  height: 25px;
}

.link {
  padding-top: 1rem;

  display: flex;
  align-self: flex-end;

  color: var(--text-color);
  text-decoration: none;
}
