.carousel-container {
  position: relative;

  width: 100%;
  height: 330px;

  border-radius: 10px;

  overflow: hidden;

  user-select: none;

  cursor: pointer;

  box-shadow: var(--box-shadow-2);

  @media (max-width: $tablet-breakpoint) {
    height: 400px;
  }

  @media (max-width: $mobile-breakpoint) {
    height: 330px;
  }
}

.carousel-images {
  width: 100%;
  height: 100%;

  display: flex;
  transition: transform 0.3s ease-in-out;

  pointer-events: auto;
}

.carousel-image {
  position: relative;
  min-width: 100%;
  height: 100%;

  transition: transform 0.2s ease-in-out;
}

.carousel-image:hover {
  transform: scale(1.01);
}

.carousel-image::after {
  content: "";

  height: 90%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;
}

.titles-container {
  position: absolute;
  bottom: 6%;
  left: 0;
  right: 0;
  height: 20%;
  z-index: 20;
  overflow: hidden;
}

.post-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  transition: opacity 0.5s ease;
  pointer-events: none;
  color: white;
  font-size: var(--font-size-l);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

  &.active {
    opacity: 1;

    transition: opacity 0.5s ease 0.1s;
    pointer-events: auto;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: var(--font-size-m);
  }
}

.link {
  color: white;
  text-decoration: none;
}

.angle-button {
  position: absolute;
  width: 50px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: gray;
  font-size: var(--font-size-l);

  z-index: 10;
  transition: transform 0.1s ease-in-out;
}

.angle-prev {
  left: 0%;
}

.angle-next {
  right: 0%;
}

.angle-locked {
  cursor: default;
  transition: none;
}

.angle-button:not(.angle-locked):hover {
  color: white;
  transform: scale(1.2);
}
