.wrapper {
  position: relative;
  margin: 1rem 0.6rem;

  overflow: hidden;
  height: 40px;
  width: auto;

  font-size: var(--font-size-xxl);
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;

  gap: 8px;

  color: var(--text-color-10);
  font-weight: var(--font-weight-m);

  svg {
    width: 35px;
    height: 35px;

    fill: var(--text-color-10);
    color: var(--text-color-10);
  }
}
