.header {
  width: 100%;
  padding-top: var(--header-height);
}

.main {
  width: 100%;

  height: auto;

  padding: 0 var(--side-padding) 10rem var(--side-padding);

  display: flex;
  flex-direction: column;

  gap: 10rem;

  color: var(--text-color);

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    padding: 0 1.5rem;
  }
}
