.loading-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  text-align: center;
  line-height: 1.6;

  font-weight: var(--font-weight-s);
}
