.button {
  width: 200px;
  height: 100%;
  margin-right: 5px;
  border: none;
  border-radius: 5px;

  background-color: var(--highlight-color);

  color: white;
  font-size: var(--font-s);
  font-weight: var(--font-w-l);

  box-shadow: var(--box-shadow);

  transition: all 0.2s ease;

  box-shadow: var(--box-shadow);

  cursor: pointer;
}

.button:hover {
  background-color: var(--highlight-color-2);
}
