@use "styles/typography.scss" as typo;

.wrapper {
  display: flex;
  flex-direction: column;

  max-width: 300px;

  gap: 0.4rem;
}

.image-wrapper {
  width: 100%;

  aspect-ratio: 6 / 4;
  position: relative;
  overflow: hidden;

  margin-bottom: 1rem;
  border-radius: 8px;
}

.title {
  padding: 0 0.5rem;

  @include typo.title-xxl-regular;
}

.description {
  padding: 0 0.5rem;

  @include typo.body-m-regular;
}
