.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 70px;
  max-width: 140px;
  width: auto;
  height: 2rem;
  padding: 0 1rem;

  background: linear-gradient(90deg, #171a21, #242934);
  color: lightgray;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  letter-spacing: 0.02em;

  border-radius: 16px;
  border: 1px solid var(--color-gray);

  white-space: nowrap;
  transition: background 0.2s, color 0.2s;
}
