@use "styles/typography.scss" as typo;

.wrapper {
  padding: var(--wrapper-padding);
  padding-top: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.title {
  @include typo.title-xl-regular;
}

.nav-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-item {
  padding: 2.5rem 1.5rem;
  min-width: 150px;
  border-radius: 20px;
  background-color: var(--background-20);
  flex: 1;
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--text-color-10);
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.nav-item:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transform: translate(1px, 2px);
}

.nav-item-title {
  padding-bottom: 5px;

  font-size: var(--font-size-m);
  font-weight: 600;
}
