.wrapper {
  padding: var(--wrapper-padding);
  padding-top: 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.title {
  font-size: var(--font-xl);
  font-weight: var(--font-w-l);
}

.nav-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-item {
  padding: 2.5rem 1.5rem;

  min-width: 150px;

  border-radius: 20px;

  background-color: var(--secondary-color);

  flex: 1;

  font-size: var(--font-s);
  font-weight: 500;

  color: var(--font-color);
  text-decoration: none;

  box-shadow: var(--box-shadow);

  transition: box-shadow 0.3s ease;
}

.nav-item:hover {
  box-shadow: var(--box-shadow-hover);
}

.nav-item-title {
  padding-bottom: 5px;

  font-size: var(--font-m);
  font-weight: 600;
}
