.wrapper {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: var(--footer-height);

  border-top: 1px solid var(--tertiary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.text-wrapper {
  color: var(--text-color);
  font-size: var(--font-m);
  font-weight: var(--font-w-xs);
}

.nav-wrapper {
  display: flex;
}

.nav-button {
  padding-left: 10px;

  font-size: var(--font-l);
  cursor: pointer;
  color: inherit;
}

.email-wrapper {
  display: flex;
}

.email-nav {
  font-weight: var(--font-w-m);
}

.email-text {
  padding-left: 10px;

  font-weight: var(--font-w-xs);
  color: var(--text-color-2);
}

.copyright {
  font-size: var(--font-xs);
  font-weight: var(--font-w-xs);
}
