.wrapper {
  width: 100%;
  height: auto;

  padding-bottom: 6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-list {
  width: 100%;

  padding-bottom: 4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  align-items: stretch;
  justify-content: center;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: var(--font-ml);
  font-weight: var(--font-w-s);
}
