.wrapper {
  display: flex;
  flex: 1;

  display: flex;
  flex-direction: column;
  padding: var(--wrapper-padding);
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--font-xl);
}

.content-wrapper {
  width: 100%;
  height: 100%;

  margin: var(--block-margin) 0;
}
