.wrapper {
  border-radius: 50%;

  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.circular-image {
  position: relative;

  border-radius: 50%;

  object-fit: cover;

  background-color: var(--text-color-2);
}

.circular-image.small {
  width: 30px;
  height: 30px;
}

.circular-image.medium {
  width: 50px;
  height: 50px;
}

.circular-image.big {
  width: 120px;
  height: 120px;
}
