.wrapper {
  position: relative;

  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--font-xl);
}

.summary {
  font-size: var(--font-l);
}
