@use "../../../styles/typography.scss" as typo;

.wrapper {
  width: 70%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  gap: 5rem;
}

.title {
  @include typo.title-xl-bold;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
