.login-wrapper {
  width: 400px;
  height: 300px;

  margin: 10rem 0rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1rem;

  font-size: var(--font-l);
  font-weight: var(--font-w-l);
}

.text-container {
  width: 50%;

  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: var(--font-w-1);
}

.input {
  text-decoration: none;
}

.button {
  width: 50%;
  height: 30px;

  margin: 1rem;

  font-weight: var(--font-w-l);

  text-decoration: none;
}
