.background {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}

.wrapper {
  position: relative;

  width: 100%;
  height: 600px;

  padding: var(--wrapper-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 1.6;

  color: lightgray;
}

.wrapper::after {
  content: "";

  height: 50%;

  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;
}

.welcome-header {
  padding-bottom: 1rem;

  font-size: var(--font-xl);
  font-weight: var(--font-w-l);

  z-index: 10;
}

.text-wrapper {
  display: flex;
  align-items: flex-end;

  flex: 1;

  font-size: var(--font-m);

  opacity: 1;

  transition: font 0.1s ease-in-out;

  z-index: 10;
}

.image-wrapper {
  width: 200px;
  height: 100px;

  display: flex;
  align-self: flex-start;

  z-index: 10;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 10;
}

.nav-button {
  color: lightgray;

  text-decoration: none;

  z-index: 10;
}
