@import "styles/typography.scss";

.wrapper {
  width: 60%;
  min-height: 80vh;
  padding: 8rem 0rem 12rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;

  margin: 1rem 0;

  @include title-xxl-regular;

  color: var(--background-20-r);
}

.p {
  width: 100%;
  padding: 1rem 0.3rem 0rem 0rem;

  line-height: 1.4;

  @include body-m-thin;

  color: var(--color-orange);
}
