@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../assets/fonts/Pretendard-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../assets/fonts/Pretendard-Light.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../assets/fonts/Pretendard-Medium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../assets/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
