:root {
  --primary-color: #ffffff;
  --secondary-color: #f7f7f5;
  --tertiary-color: #f0efea;

  --primary-color-r: #090a0d;
  --secondary-color-r: #1b1d24;
  --tertiary-color-r: #2d303b;

  --text-color: black;
  --text-color-2: #2d303b;

  --button-hover-bg: #2d303b;
  --button-hover-text: #ffffff;

  --font-xl: 1.8rem;
  --font-l: 1.4rem;
  --font-m: 1rem;
  --font-s: 0.9rem;

  --font-w-l: 800;
  --font-w-m: 500;
  --font-w-s: 300;
}

[data-theme="dark"] {
  --primary-color: #090a0d;
  --secondary-color: #1b1d24;
  --tertiary-color: #2d303b;

  --primary-color-r: #ffffff;
  --secondary-color-r: #f7f7f5;
  --tertiary-color-r: #f0efea;

  --button-hover-bg: #f0efea;
  --button-hover-text: black;

  --text-color: #ffffff;
  --text-color-2: #f0efea;
}
