:root {
  --transition-duration: 0.1s;
  --transition-timing: ease-in-out;

  --background-10: #ffffff;
  --background-20: #f7f7f5;
  --background-30: #ebebeb;
  --background-40: #d8d8d8;
  --background-50: #c7c7c7;

  --background-10-r: #16171e;
  --background-20-r: #1a1e26;
  --background-30-r: #292f3c;
  --background-40-r: #333c4e;
  --background-50-r: #424c60;

  --text-color-10: #000000;
  --text-color-20: #393939;
  --text-color-30: #5a5a5a;
  --text-color-40: #868484;

  --text-color-10-r: #eeeeee;
  --text-color-20-r: #dddddd;
  --text-color-30-r: #c7c7c7;
  --text-color-40-r: #aeaeae;

  --button-hover-bg: #2d303b;
  --button-hover-text: #ffffff;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.063), 0 1px 2px rgba(0, 0, 0, 0.131);
  --box-shadow-2: 0 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.14),
    0 2px 3px rgba(0, 0, 0, 0.133);
  --box-shadow-2-hover: 0 5px 10px rgba(0, 0, 0, 0.4);

  --input-background-color: transparent;

  --modal-button-color: rgb(16, 16, 17);

  --modal-background-color: radial-gradient(
    circle,
    rgba(22, 22, 30, 0.9) 0%,
    rgba(22, 22, 30, 0.925) 20%,
    rgba(22, 22, 30, 0.95) 30%,
    rgba(22, 22, 30, 0.975) 50%,
    rgb(16, 16, 17) 100%
  );

  --markdown-element-background-color: rgb(234, 234, 242);
  /* basic theme */

  --font-size-xxl: 30px;
  --font-size-xl: 26px;
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;

  --font-weight-xl: 700;
  --font-weight-l: 600;
  --font-weight-m: 500;
  --font-weight-s: 400;
  --font-weight-xs: 300;

  --font-xl: 1.8rem;
  --font-l: 1.4rem;
  --font-ml: 1.3rem;
  --font-m: 1.1rem;
  --font-s: 1rem;
  --font-xs: 0.9rem;

  --font-w-xl: 700;
  --font-w-l: 600;
  --font-w-m: 500;
  --font-w-s: 400;
  --font-w-xs: 300;

  --header-height: 60px;
  --footer-height: 22rem;

  --side-padding: 2.6rem;
  --block-margin: 1rem;

  --wrapper-padding: 4rem 2.4rem;

  --transition-all: all 0.3s ease-in-out;

  --color-red: #e84e4e;
  --color-green: #55d04a;
  --color-orange: #fe9f00;
  --color-light-gray: #e1e3e4;
  --color-gray: #9a9ca1;
  --color-blue: #00a5d3;
  --color-link: #0797c6;

  --theme-icon-color: #f7bb45;
  --highlight-color: #fe9f00;
  --highlight-color-2: #ff8d01;
}

[data-theme="dark"] {
  --background-10: #16171e;
  --background-20: #1a1e26;
  --background-30: #292f3c;
  --background-40: #333c4e;
  --background-50: #424c60;

  --background-10-r: #ffffff;
  --background-20-r: #f7f7f5;
  --background-30-r: #ebebeb;
  --background-40-r: #d8d8d8;
  --background-50-r: #c7c7c7;

  --text-color-10: #eeeeee;
  --text-color-20: #dddddd;
  --text-color-30: #c7c7c7;
  --text-color-40: #aeaeae;

  --text-color-10-r: #000000;
  --text-color-20-r: #393939;
  --text-color-30-r: #5a5a5a;
  --text-color-40-r: #868484;

  --button-hover-bg: #f0efea;
  --button-hover-text: black;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.298), 0 1px 2px rgba(0, 0, 0, 0.35);
  --box-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.711),
    0 2px 3px rgba(0, 0, 0, 0.693);

  --input-background-color: #1a1e26;

  --modal-button-color: rgb(240, 245, 250);

  --modal-background-color: radial-gradient(
    circle,
    rgba(240, 245, 250, 0.925) 0%,
    rgba(240, 245, 250, 0.95) 20%,
    rgba(240, 245, 250, 0.975) 40%,
    rgba(240, 245, 250) 60%,
    rgb(240, 245, 250) 100%
  );

  --markdown-element-background-color: #394153;
}
