:root {
  --transition-duration: 0.1s;
  --transition-timing: ease-in-out;

  --primary-color: #ffffff;
  --secondary-color: #f7f7f5;
  --tertiary-color: #f0efea;

  --primary-color-r: #090a0d;
  --secondary-color-r: #1b1d24;
  --tertiary-color-r: #2d303b;

  --text-color: black;
  --text-color-2: #2d303b;

  --button-hover-bg: #2d303b;
  --button-hover-text: #ffffff;

  --theme-icon-color: #f7bb45;

  --font-xl: 1.8rem;
  --font-l: 1.4rem;
  --font-m: 1.2rem;
  --font-s: 1rem;
  --font-xs: 0.9rem;

  --font-w-xl: 800;
  --font-w-l: 700;
  --font-w-m: 500;
  --font-w-s: 400;
  --font-w-xs: 300;

  --header-height: 3.6rem;

  --block-margin: 1rem;

  --wrapper-padding: 3rem;
}

[data-theme="dark"] {
  --primary-color: #101720;
  --secondary-color: #15192d;
  --tertiary-color: #1a2140;

  --primary-color-r: #eeeeee;
  --secondary-color-r: #dddddd;
  --tertiary-color-r: #cccccc;

  --button-hover-bg: #f0efea;
  --button-hover-text: black;

  --text-color: #eeeeee;
  --text-color-2: #dddddd;
}
