@use "../../styles/typography.scss" as typo;

.wrapper {
  width: 100%;
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  @include typo.body-l-bold;
  padding: 2rem;
}
