.wrapper {
  width: 100%;
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  font-size: var(--font-l);
  font-weight: var(--font-w-l);
  padding: 2rem;
}
